<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery(":input:not(:hidden):first").focus();
  });
</script>

<%= form_for(@newsletter) do |f| %>
  <%= render :partial => 'generals/model_errors', :locals => {:obj => @newsletter}%>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field" align="center">
    <!-- tabela envio inicio -->
    <table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><input type="reset" name="limpar" value="" class="botaoLimpar" /></td>
        <td style=" width: 20px; "><img src="/images/dot.gif" width="20px" height="1" alt=""/></td>
        <td><input type="image" name="enviar" value="" class="botaoEnviar" /></td>
      </tr>
    </table>
    <!-- tabela envio fim -->
  </div>
  <br/>
  <br/>
  <br/>
<% end %>
