<%= render :partial => 'generals/message' %>

<p>
  <b>Nome:</b>
  <%= @newsletter.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @newsletter.email %>
</p>


<%= link_to 'Alterar', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Voltar', newsletters_path %>
