<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery(":input:not(:hidden):first").focus();
  });

  function verificaTipo(){
    if (jQuery("INPUT[id='tipo_entidade']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_voluntario']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_empresa']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_administrador']").attr('checked') === true) {
      return true
    } else{
      alert('Favor escolher um: Tipo cadastro');
      return false
    }
  }
</script>





<%= render :partial => 'generals/model_errors', :locals => {:obj => @user}%>

<div id="cadastro">
  <!-- tabela acesso ao portal inicio -->

  <div class="aPortal">Acesso ao Portal</div>

  <%= render :partial => 'generals/model_errors', :locals => {:obj => @user}%>
  <!-- tabela acesso ao portal inicio -->
  <table width="720px" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>&nbsp;</td>
      <td>
        <table width="700px" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style=" padding-bottom: 10px; ">*E-mail</td>
            <td>&nbsp;</td>
            <td style=" padding-bottom: 10px; ">*Senha</td>
            <td>&nbsp;</td>
            <td style=" padding-bottom: 10px; ">*Redigite a Senha</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><%= f.text_field :email, :style=>" width: 334px ", :onkeypress=> 'return SomenteEmail(event)' %></td>
            <td><img src="../images/dot.gif" width="20px" height="1" alt="" /></td>
            <td><%= f.password_field :password, :style=>" width: 130px " %></td>
            <td><img src="../images/dot.gif" width="20px" height="1" alt=""/></td>
            <td><%= f.password_field :password_confirmation, :style=>" width: 130px " %></td>
          </tr>
        </table>
                <table width="700px" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style=" padding-bottom: 10px; ">*Nome</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><%= f.text_field :nome, :style=>" width: 334px " %></td>
          </tr>
        </table>
        <br/>
        <b>*Tipo de Cadastro</b>
        <br/>
        <br/>
       
        <% if administrador? or entidade? %>
          <%= radio_button_tag(:tipo, value="administrador", @user.administrador? ? checked=true : checked=false ) %>&nbsp;Administrador&nbsp;&nbsp;
        <% end %>
        <%= radio_button_tag(:tipo, value="entidade", @user.entidade? ? checked=true : checked=false ) %>&nbsp;Entidade Filantrópica&nbsp;&nbsp;
        <%= radio_button_tag(:tipo, value="voluntario", @user.voluntario? ? checked=true : checked=false ) %>&nbsp;Voluntário
        <%= radio_button_tag(:tipo, value="empresa", @user.empresa? ? checked=true : checked=false ) %>&nbsp;Empresa
        <br/>
        <br/>
        <%= f.check_box :newsletter %>&nbsp;&nbsp;Desejo receber notícias do Click Solidário
        <br/>
        <br/>
        <span style="color:#ff0000;">* Campos de preenchimento obrigatorio!</span><br/>
      </td>
    </tr>
  </table>

  <!-- tabela envio inicio -->
  <table width="720" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><input type="reset" name="limpar" value="" class="botaoLimpar" /></td>
      <td style=" width: 20px; "><img src="../images/dot.gif" width="20px" height="1" alt=""/></td>
      <td><input type="image" name="enviar" value="" class="botaoEnviar" /></td>
    </tr>
  </table>
  <!-- tabela envio fim -->
  <br/>
  <br/>
  <br/>
</div>