<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery(":input:not(:hidden):first").focus();
  });

  function verificaTipo(){
    if (jQuery("INPUT[id='tipo_entidade']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_voluntario']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_empresa']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_administrador']").attr('checked') === true) {
      return true
    } else{
      alert('Favor escolher um: Tipo cadastro');
      return false
    }
  }
</script>

<%= render :partial => 'generals/model_errors', :locals => {:obj => @user}%>

<div class="aPortal">Acesso ao Portal</div>

<!-- tabela acesso ao portal inicio -->
<table width="720px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../images/dot.gif" width="20px" height="1" /></td>
    <td>

      <table width="700px" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style=" padding-bottom: 10px; ">*E-mail</td>
          <td>&nbsp;</td>
          <td style=" padding-bottom: 10px; ">*Senha</td>
          <td>&nbsp;</td>
          <td style=" padding-bottom: 10px; ">*Redigite a Senha</td>
          <td>&nbsp;</td>
          <td style=" padding-bottom: 10px; ">*Nome</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= f.text_field :email, :style=>" width: 334px ", :onkeypress=> 'return SomenteEmail(event)' %></td>
          <td><img src="../images/dot.gif" width="20px" height="1" alt="" /></td>
          <td><%= f.password_field :password, :style=>" width: 130px " %></td>
          <td><img src="../images/dot.gif" width="20px" height="1" alt=""/></td>
          <td><%= f.password_field :password_confirmation, :style=>" width: 130px " %></td>
          <td><img src="../images/dot.gif" width="20px" height="1" alt=""/></td>
          <td><%= f.text_field :nome, :style=>" width: 334px " %></td>
        </tr>
      </table>
      <br/>
      *Tipo de Cadastro
      <% if administrador? or entidade? %>
        <%= radio_button_tag(:tipo, value="administrador", @user.administrador? ? checked=true : checked=false ) %>&nbsp;Administrador&nbsp;&nbsp;
      <% end %>
      <%= radio_button_tag(:tipo, value="entidade", @user.entidade? ? checked=true : checked=false ) %>&nbsp;Entidade Filantrópica&nbsp;&nbsp;
      <%= radio_button_tag(:tipo, value="voluntario", @user.voluntario? ? checked=true : checked=false ) %>&nbsp;Voluntário
      <%= radio_button_tag(:tipo, value="empresa", @user.empresa? ? checked=true : checked=false ) %>&nbsp;Empresa
      <br/>
      <br/>
      <%= f.check_box :newsletter %>&nbsp;&nbsp;Desejo receber notícias do Click Solidário
      <br/>
      <br/>
      <span style="color:#ff0000;">* Campos de preenchimento obrigatorio!</span><br/>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><button class="button" type="submit" onclick="javascript: verificaTipo();">
      <img src="/images/tick.png" alt="" width="30px" height="30px"/>Registrar&nbsp;
    </button>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><img src="../images/dot.gif" width="1px" height="70" alt=""/></td>
  </tr>
</table>