<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery(":input:not(:hidden):first").focus();
  });

  function verificaTipo(){
    if (jQuery("INPUT[id='tipo_entidade']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_voluntario']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_empresa']").attr('checked') === true) {
      return true
    } else if (jQuery("INPUT[id='tipo_administrador']").attr('checked') === true) {
      return true
    } else{
      alert('Favor escolher um: Tipo cadastro');
      return false
    }
  }
</script>

<div class="inner">
  <%= render :partial => 'generals/model_errors', :locals => {:obj => @user}%>
  <p></p>
  <div class="group">
    <br/>
    <div class="left">
      <label class="label">*Email</label>
    </div>
    <div class="right">
      <%= f.text_field :email, :onkeypress=> 'return SomenteEmail(event)' %>
      <span class="description">Ex: test@example.com</span>
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="group">
    <br/>
    <div class="left">
      <label class="label">*Nome</label>
    </div>
    <div class="right">
      <%= f.text_field :nome, :html => {:class => "text_field"} %>
      <span class="description">Ex: Nome que constará no Certificado.</span>
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="group">
    <div class="left">
      <label class="label">*Senha</label>
    </div>
    <div class="right">
      <%= f.password_field :password, :html => {:class => "text_field"} %>
      <span class="description">Ex: senha com minimo de 4 digitos</span>
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="group">
    <div class="left">
      <label class="label">*Confirmar senha</label>
    </div>
    <div class="right">
      <%= f.password_field :password_confirmation, :html => {:class => "text_field"} %>
      <span class="description">Ex: repetir senha</span>
    </div>
    <div class="clear">
    </div>
  </div>

  <div class="group"><br/>
    <div class="left">
      <label class="label">*Tipo cadastro</label>
    </div>
    <div class="right">
      <% if administrador? or entidade? %>
        <%= radio_button_tag(:tipo, value="administrador", @user.administrador? ? checked=true : checked=false ) %>&nbsp;Administrador&nbsp;&nbsp;
      <% end %>
      <%= radio_button_tag(:tipo, value="entidade", @user.entidade? ? checked=true : checked=false ) %>&nbsp;Entidade Filantrópica&nbsp;&nbsp;
      <%= radio_button_tag(:tipo, value="voluntario", @user.voluntario? ? checked=true : checked=false ) %>&nbsp;Voluntário
      <%= radio_button_tag(:tipo, value="empresa", @user.empresa? ? checked=true : checked=false ) %>&nbsp;Empresa
      <br/>
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="botao">
    <br/>
    <div class="left">
      <button class="button" type="submit" onclick="javascript: verificaTipo();">
        <img src="/images/tick.png" alt="" />Registrar&nbsp;
      </button>
    </div>
    <div class="clear">
    </div>
  </div>
  <br/>
  <br/>
  <span class="obrigatorio">*Campos de preenchimento obrigatorio!</span>
</div>