<%= form_tag(users_path, :method => "get") do %>
  <div id="buscaDados"><span>Listando Usuários</span></div>
  <div id="buscaDados">
    <input id="filtro" name="filtro" type="hidden" value="email"/>
  </div>
  <div id="buscaDados"><input id="query" class="search" type="text" value="Digitar..." name="query" onfocus="this.value='';"/></div>
  <div id="buscaDados"><input id="queryImage" class="searchImg" type="image" src="/images/search_icon.png"/></div>
<% end %>

<br/><br/>
<br/>
<% if @user.nil? or @user.empty? %>
  <p class="busca">
    Nenhum registro foi encontrado
  </p>
<% else %>
  <table width="778px" cellpadding="0" cellspacing="0" border="0" class="bordasimples">
    <tr>
      <th>Email</th>
      <th>Tipo</th>
      <th>Data criação</th>
      <th>Status</th>
      <th><img src="/images/file_document.png" alt=""/></th>
      <th><img src="/images/file_edit.png" alt=""/></th>
      <th><img src="/images/file_exclude.png" alt=""/></th>
      <% if administrador? %>
      <% $conteudo = @user %>
        <th><%= link_to image_tag("/images/pdf_button.png"), impressao_user_path(:format => "pdf") %></th>
      <% end %>
    </tr>
    <% @user.each do |user| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= user.email %></td>
        <td>
          <%= (User.find(user.id).has_role? :administrador )? 'Administrador':'' %>
          <%= (User.find(user.id).has_role? :entidade )? 'Entidade':'' %>
          <%= (User.find(user.id).has_role? :voluntario )? 'Voluntario':'' %>
          <%= (User.find(user.id).has_role? :empresa )? 'Empresa':'' %>
        </td>
        <td><%= user.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
        <td><%= user.status %></td>
        <% if user.id != 1 %>
          <td  class="edicao"><%= link_to (user.status == "Ativo"  ? "Desativar" : "Ativar"), {:controller => :users, :action => :valida_usuario, :id => user} %></td>
          <td  class="edicao"><%= link_to 'Alterar', edit_user_path(user) %></td>
          <td  class="edicao"><%= link_to "Excluir", user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %></td>
        <% else %>
          <td  class="edicao"></td>
          <td  class="edicao"></td>
          <td  class="edicao"></td>
        <% end -%>
      </tr>
    <% end -%>
  </table>
  <div align="right">
    <%= will_paginate @user %>
  </div>
<% end %>