<div class="MenuBar">
  <ul>
    <li><a href="/" class="<%= controller.controller_path == 'portal' ? 'active' : '' %>">Home</a></li>
    <li><a href="/ajude" class="<%= controller.controller_path == 'ajude' ? 'active' : '' %>">Ajude Agora</a></li>
    <li><a href="/conheca" class="<%= controller.controller_path == 'conheca' ? 'active' : '' %>">Conheça o Click Solidário</a></li>
    <li><a href="/join" class="<%= controller.controller_path == 'users' ? 'active' : '' %>">Cadastre-se</a></li>
    <li><a href="/duvida" class="<%= controller.controller_path == 'duvida' ? 'active' : '' %>">Dúvidas</a></li>
    <li><a href="/contatos/new"  class="<%= controller.controller_path == 'contatos' ? 'active' : '' %>">Contato</a></li>
    <% if current_user %>
      <li><a href="<%= users_path %>" class="<%= controller.controller_path == 'users' ? 'active' : '' %>"><span class="l"> </span><span class="r"> </span><span class="t">S.G.S</span></a></li>
    <% end %>
  </ul>
</div>