<div id="MenuLateral">

  <div class="sidebarmenu">
    <ul id="sidebarmenu1">
      <li><a href="/quemsomos"  title="Quem Somos" class="<%= controller.controller_path == 'quemsomos' ? 'active' : '' %>">Quem Somos</a></li>
      <li><a href="/apoiadores" title="Apoiadores" class="<%= controller.controller_path == 'apoiadores' ? 'active' : '' %>">Apoiadores</a></li>
      <li><a href="/divulgue"   title="Divulgue o Click Solidário" class="<%= controller.controller_path == 'divulgue' ? 'active' : '' %>">Divulgue o Click Solidário</a></li>
      <li><a href="/publicidade" title="Publicidade Solidária" class="<%= controller.controller_path == 'publicidade' ? 'active' : '' %>">Publicidade Solidária</a></li>
      <li><a href="/imprensa"   title="Imprensa" class="<%= controller.controller_path == 'imprensa' ? 'active' : '' %>">Imprensa</a></li>
      <li><a href="/newsletters/new" title="Newsletters" class="<%= controller.controller_path == 'newsletters/new' ? 'active' : '' %>">Newsletter</a></li>
      <li><a href="/duvidas" title="Dúvidas" class="<%= controller.controller_path == 'duvida' ? 'active' : '' %>">Dúvidas</a></li>
      <li><a href="#" title="">Blog</a></li>
    </ul>
  </div>

</div>