<div id="barraIdentificacao">

  <!-- migalhas de pão -->
  <div id="breadCrumb">
    <ul>
      <li class="first" title="Voltar para página Inicial"><a href="/" title="Voltar para página Inicial">Página Inicial</a></li>
      <li title="Busca Solidaria">Busca Solidaria</li>
      <li class="last" title="Entidades">Entidades</li>
    </ul>
  </div>

  <!-- acessibilidade -->
  <div id="aMais"><a href="#" title="Aumenta tamanho da fonte" id="aumenta_fonte"></a></div>
  <div id="aMenos"><a href="#" title="Diminue tamanho da fonte" id="reduz_fonte"></a></div>
  <div id="tFonte">tamanho da fonte</div>
</div>

<div id="cadastro">
  <% if @entidades.nil? or @entidades.empty? %>
    <p class="busca">
      Nenhum registro foi encontrado
    </p>
  <% else %>
    <table width="720px" cellpadding="0" cellspacing="0" border="0" class="bordasimples">
      <tr>
        <th>Nome</th>
        <th>Causa</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th><img src="/images/file_document.png" alt=""/></th>
      </tr>

      <% @entidades.each do |entidade| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= entidade.nomefantasia %></td>
          <td><%= entidade.causa.nome %></td>
          <td><%= entidade.cidade %></td>
          <td><%= entidade.estado %></td>
          <td class="edicao"><%= link_to 'Mostrar', entidade %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<script type="text/javascript">
  //Aumenta e reduz o tamanho da fonte
  $(document).ready(function() {

    var fonte = 14;
    $("#aumenta_fonte").click(function(){
      if (fonte<18){
        fonte = fonte+1;
        $(".bordasimples").css({"font-size" : fonte+"px"});
      }
    });
    $("#reduz_fonte").click(function(){
      if (fonte>9){
        fonte = fonte-1;
        $(".bordasimples").css({"font-size" : fonte+"px"});
      }
    });
  });
</script>

