<script type="text/javascript">
  $(document).ready(function() {
    $("#login").toggle(function(){
      $("#divLogin").slideDown('slow');
    },function(){
      $("#divLogin").slideUp('slow');
    });

    $("#entidade").toggle(function(){
      $("#divEntidade").slideDown('slow');
    },function(){
      $("#divEntidade").slideUp('slow');
    });
  });
</script>

<!-- NavBar -->
<div id="navBar">

  <div class="barra">

    <!-- login usuário -->
    <%= render :partial => 'portal/login' %>

    <!-- login entidades -->
    <div id="entidade" class="entidade">área das entidades</div>

    <div id="divEntidade" class="entidadeBarra">
      <ul id="navlist">
        <li>usuário:<input name="usuario" type="text" style="width: 149px;" class="input" /></li>
        <li>senha:<input name="senha" type="password" style="width: 149px" class="input" /></li>
        <li><input name="botao"  type="button"  value="ok »" class="botaoLogin" /></li>
        <li><a href="#">esqueci minha senha</a></li>
        <li>|</li>
        <li><a href="#">esqueci meu usuário</a></li>
      </ul>
    </div>

    <div class="traco"></div>

    <!-- mapa do portal -->
    <div class="mapaPortal"><a href="#">mapa do portal</a></div>

    <!-- rede social -->
    <%= render :partial => 'portal/rede_social' %>

  </div>

</div>


<!-- Corpo do Site -->
<div id="corpoSite">

  <div class="cabecalho">

    <div class="logo"></div>

    <!-- menu -->
    <%= render :partial => 'portal/menu' %>

    <!-- CorpoConteudo -->
    <div id="conteudo">

      <div id="colunaEsquerda">

        <!-- Busca Solidariav -->
        <%= render :partial => 'portal/busca_solidaria' %>

        <!-- Menu Lateral -->
        <%= render :partial => 'portal/menu_lateral' %>

        <!-- Conheça essas Iniciativas -->
        <div id="ConhecaIniciativas">

          <h1>Conheça essas Iniciativas</h1>
          <p>Todo més 3 importantes ações no Click Solidário serão destacadas.</p>

          <ul>
            <li><a href="#">UniGente</a></li>
            <li><a href="#">Vida Gente</a></li>
            <li><a href="#">Cont. Responsável</a></li>
          </ul>
        </div>

        <!-- Saiba Como -->
        <div id="SaibaComo">
          <h1>Saiba Como</h1>

          <div class="sidebarmenu">
            <ul id="sidebarmenu1">
              <li><a href="#">Adotar uma Criança</a></li>
              <li><a href="#">Conviver com o Meio Ambiente</a></li>
              <li><a href="#">Ser uma Empresa Cidadã</a></li>
              <li><a href="#">Ser um doador de Orgãos</a></li>
              <li><a href="#">Reciclar seu lixo</a></li>
            </ul>
          </div>

        </div>

        <!-- Veja Como -->
        <div id="VejaComo">
          <h1>Veja como você Ajudou</h1>
          <form>
            <input id="VejaComo-campo" name="Text1" type="text" />
            <input id="VejaComo-campo" name="Text2" type="text" />

            <p><a href="$">Esqueci o login</a></p>
            <p><a href="$">Esqueci a senha</a></p>

            <input name="Submit1" type="image"  src="images/Bt_BuscarEntrar.gif" value="enviar" style="margin-top: 8px;" />

          </form>
        </div>


        <!-- Eu apóio o Click Solidário -->
        <div id="EuApoio">
          <h1>Eu apóio o Click Solidário</h1>
          <p>Seu apoio é fundamental para o crescimento desse movimento.
            <a href="#">» Participe!</a></p>
        </div>

        <!--Indique Um Amigo -->
        <div id="IndiqueAmigo">
          <h1>Eu apóio o Click Solidário</h1>
          <p>Seu apoio é fundamental para o crescimento desse movimento.
            <a href="#">» Indique</a></p>
        </div>

      </div>

      <!-- COLUNA DIREITA -->
      <div id="colunaDireita">

        <!-- Banner jQuery -->
        <%= render :partial => 'portal/banner' %>

        <!-- Menu - Escolha Como Ajudar -->
        <%= render :partial => 'portal/menu_como_ajudar' %>


        <!-- Colunas - Notícias & Emergência  -->
        <div id="ConteudoColunas">
          <!-- Notícias & Cidadania -->
          <%= render :partial => 'portal/noticia' %>

          <!-- Emergência -->
          <%= render :partial => 'portal/emergencia' %>
        </div>


        <!-- Faça Como Eles -->
        <div id="FacaComo">

          <h1>Faça como eles</h1>

          <div style="height: 274px">
            <div id="FacaComoTb01">
              <a href="#">
                <p><img src="images/FaçaComo-Foto01.jpg" alt=""/></p>
                <h1>O problema é que a AIDS saiu de moda</h1>
                <span>As pessoas acham que a AIDS é uma doença que basta tomar um remédio e tudo bem, mas infelizmente não é bem assim.</span>
              </a>
            </div>
            <div id="FacaComoTb02">
              <a href="#">
                <p><img src="images/FaçaComo-Foto02.jpg" alt=""/></p>
                <h1>O problema é que a AIDS saiu de moda</h1>
                <span>As pessoas acham que a AIDS é uma doença que basta tomar um remédio e tudo bem, mas infelizmente não é bem assim.</span>
              </a>
            </div>
            <div id="FacaComoTb03" style="float: right;">
              <a href="#">
                <p><img src="images/FaçaComo-Foto03.jpg" alt=""/></p>
                <h1>O problema é que a AIDS saiu de moda</h1>
                <span>As pessoas acham que a AIDS é uma doença que basta tomar um remédio e tudo bem, mas infelizmente não é bem assim.</span>
              </a>
            </div>
          </div>
          <!-- Botão - Veja mais o que podemos fazert -->
          <div id="FacaComoBoxLink" >
            <a href="#">Veja mais o que pode fazer »</a>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<!-- Depoimento -->
<%= render :partial => 'portal/depoimento' %>


<!-- rodapé -->
<%= render :partial => 'portal/rodape' %>