<!-- div resultado da pesquisa do busca solidaria -->
<div id="resultado_busca_solidaria">
</div>

<!-- Banner jQuery -->
<%= render :partial => 'portal/banner' %>

<!-- Menu - Escolha Como Ajudar -->
<%= render :partial => 'portal/menu_como_ajudar' %>

<!-- Colunas - Notícias & Emergência  -->
<div id="ConteudoColunas">

  <!-- Notícias & Cidadania -->
  <div id="Noticias">
    <%= render :partial => 'portal/noticia', :locals=> {:noticias=> @noticias} %>
    <%= render :partial => 'portal/apadrinhe' %>
  </div>

  <!-- Emergência -->
  <div id="Emergencia">
    <%= render :partial => 'portal/emergencia', :locals=> {:emergencias=> @emergencias} %>
  </div>

</div>

<!-- Faça Como Eles -->
<%= render :partial => 'portal/faca_como' %>