<%= form_for(@doacao) do |f| %>
  <%= render :partial => 'generals/model_errors', :locals => {:obj => @doacao}%>


  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select(:data, :start_year => Date.today.year, :end_year => 2099 ) %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :obs, 'Observação' %><br />
    <%= f.text_area :obs, :rows=> 10 %>
  </div>

  <div class="field"><br/>
    <%= f.label :doatipo_id, "Tipo Doação" %><br />
    <%= f.collection_select(:doatipo_id, Doatipo.all, :id, :nome, :prompt => 'Selecione um') %>
  </div>

  <% if voluntario? or empresa? %>
  <div class="field"><br/>
    <%= f.label :entidade_id, "Entidade Social Favorecida:" %><br />
    <%= f.collection_select(:entidade_id, Entidade.all, :id, :nomefantasia, :prompt => 'Selecione Entidade') %>
  </div>
  
  <br/>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <% end %>
  
  <% if administrador? %>
    <div class="field"><br/>
      <%= f.check_box :valida %>
      <%= f.label :valida, "Valida Doação." %><br/>
    </div><br/>
  <% end %>

  <br/>
  <div class="field" align="center">
    <!-- tabela envio inicio -->
    <table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><input type="reset" name="limpar" value="" class="botaoLimpar" /></td>
        <td style=" width: 20px; "><img src="/images/dot.gif" width="20px" height="1" alt=""/></td>
        <td><input type="image" name="enviar" value="" class="botaoEnviar" style="float: left; width: 84px; height: 26px; background: url(/images/cadastroBotEnviar.gif) no-repeat; padding: 0; border: 0;" /></td>
      </tr>
    </table>
    <!-- tabela envio fim -->
  </div>
  <br/>
  <br/>
  <br/>
<% end %>
