<h1 class="title">
  <%= form_tag(doacaos_path, :method => "get") do %>
    Listando Doações
    <% if administrador? %>
      <select name="filtro" id="filtro">
        <option value="" selected="selected">Buscar por...</option>
        <option value="entidade">Entidade</option>
        <option value="voluntario">Voluntario</option>
        <option value="empresa">Empresa</option>
      </select>
      <input id="query" class="search" type="text" value="Digitar..." name="query" onfocus="this.value='';"/>
      <input id="queryImage" class="searchImg" type="image" src="/images/search_icon.png"/>
    <% end %>
  <% end %>
</h1>


<% if @doacaos.nil? or @doacaos.empty? %>
  <p class="busca">
    Nenhum registro foi encontrado
  </p>
<% else %>
  <table class="table">
    <tr>
      <th>Valor</th>
      <th>Data</th>
      <th>Valida</th>
      <th>Obs</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @doacaos.each do |doacao| %>
      <tr>
        <td><%= doacao.valor %></td>
        <td><%= doacao.data %></td>
        <td><%= doacao.valida %></td>
        <td><%= doacao.obs %></td>
        <td><%= link_to 'Mostrar', doacao %></td>
        <td><%= link_to 'Editar', edit_doacao_path(doacao) %></td>
        <td><%= link_to 'Deletar', doacao, :confirm => 'Voce tem certeza?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%= link_to 'Cadastrar Doacao', new_doacao_path %>
