<%= render :partial => 'generals/message' %>


<p>
  <b>Data:</b>
  <%= @doacao.data %>
</p>

<% if administrador? %>
  <p>
    <b>Valida:</b>
    <%= @doacao.valida %>
  </p>
<% end %>

<p>
  <b>Obs:</b>
  <%= @doacao.obs %>
</p>

<p>
  <b>Valor:</b>
  <%= @doacao.valor %>
</p>

<p>
  <b>Entidade:</b>
  <%= @doacao.entidade.nomefantasia %>
</p>


<%= link_to 'Alterar', edit_doacao_path(@doacao) %> |
<%= link_to 'Voltar', doacaos_path %>
