<%= form_tag(voluntarios_path, :method => "get") do %>
  <div id="buscaDados"><span>Listando Voluntarios</span></div>
  <div id="buscaDados">
    <select name="filtro" id="filtro">
      <option value="" selected="selected">Buscar por...</option>
      <option value="nome">Nome</option>
      <option value="profissao">Profissão</option>
      <option value="cidade">Cidade</option>
      <option value="estado">Estado</option>
    </select>
  </div>
  <div id="buscaDados"><input id="query" class="search" type="text" value="Digitar..." name="query" onfocus="this.value='';"/></div>
  <div id="buscaDados"><input id="queryImage" class="searchImg" type="image" src="/images/search_icon.png"/></div>
<% end %>

<br/><br/>
<br/>
<% if @voluntarios.nil? or @voluntarios.empty? %>
  <p class="busca">
    Nenhum registro foi encontrado
  </p>
<% else %>
  <table width="778px" cellpadding="0" cellspacing="0" border="0" class="bordasimples">
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Profissao</th>
      <th>Endereco</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Uf</th>
      <th>Cep</th>
      <th><img src="/images/file_document.png" alt=""/></th>
      <th><img src="/images/file_edit.png" alt=""/></th>
      <th><img src="/images/file_exclude.png" alt=""/></th>
    </tr>

    <% @voluntarios.each do |voluntario| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= voluntario.nome %></td>
        <td><%= voluntario.cpf %></td>
        <td><%= voluntario.profissao %></td>
        <td><%= voluntario.endereco %></td>
        <td><%= voluntario.bairro %></td>
        <td><%= voluntario.cidade %></td>
        <td><%= voluntario.estado %></td>
        <td><%= voluntario.cep %></td>
        <td class="edicao"><%= link_to 'Mostrar', voluntario %></td>
        <td class="edicao"><%= link_to 'Alterar', edit_voluntario_path(voluntario) %></td>
        <td class="edicao"><%= link_to 'Deletar', voluntario, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <div align="right">
    <%= will_paginate @voluntarios %>
  </div>
<% end %>
<br />