<%= render :partial => 'generals/message' %>

<p>
  <b>Nome:</b>
  <%= @voluntario.nome %>
</p>

<p>
  <b>Cpf:</b>
  <%= @voluntario.cpf %>
</p>

<p>
  <b>Profissao:</b>
  <%= @voluntario.profissao %>
</p>

<p>
  <b>Endereco:</b>
  <%= @voluntario.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @voluntario.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @voluntario.cidade %>
</p>

<p>
  <b>Uf:</b>
  <%= @voluntario.estado %>
</p>

<p>
  <b>Cep:</b>
  <%= @voluntario.cep %>
</p>

<% unless @voluntario.telefones[0].nil? %>
  <p>
    <b>Telefone:</b>
    <%= @voluntario.telefones[0].ddd %>
    <%= @voluntario.telefones[0].numero %>
    <%= @voluntario.telefones[0].tipo %>
    <br/>
  </p>
<% end  %>

<%= link_to 'Alterar', edit_voluntario_path(@voluntario) %> |
<%= link_to 'Voltar', voluntarios_path %>
