<%= form_for(@noticium) do |f| %>
  <%= render :partial => 'generals/model_errors', :locals => {:obj => @noticium}%>

  <div class="field">
    <%= f.label :titulo, 'Titulo' %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :resumo, 'Resumo' %><br />
    <%= f.text_field :resumo %>
  </div>
  <div class="field">
    <%= f.label :noticia, 'Noticia' %><br />
    <%= f.text_area :noticia, :rows=>10 %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <% if administrador? %>
    <div class="field"><br/>
      <%= f.check_box :validacao %>
      <%= f.label :validacao, "Valida Noticia." %><br/>
    </div><br/>
  <% end %>

  <div class="field" align="center">
    <!-- tabela envio inicio -->
    <table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><input type="reset" name="limpar" value="" class="botaoLimpar" /></td>
        <td style=" width: 20px; "><img src="/images/dot.gif" width="20px" height="1" alt=""/></td>
        <td><input type="image" name="enviar" value="" class="botaoEnviar" /></td>
      </tr>
    </table>
    <!-- tabela envio fim -->
  </div>
  <br/>
  <br/>
  <br/>
<% end %>
