<%= render :partial => 'generals/message' %>

<p>
  <b>Titulo:</b>
  <%= @noticium.titulo %>
</p>

<p>
  <b>Nome:</b>
  <%= @noticium.resumo %>
</p>

<p>
  <b>Nome:</b>
  <%= @noticium.noticia %>
</p>

<p>
  <b>Data:</b>
  <%= @noticium.data %>
</p>

<%= link_to 'Alterar', edit_noticium_path(@noticium) %> |
<%= link_to 'Voltar', noticia_path %>
