<%= form_tag(entidades_path, :method => "get") do %>
  <div id="buscaDados"><span>Listando Entidades</span></div>
  <div id="buscaDados">
    <select name="filtro" id="filtro">
      <option value="" selected="selected">Buscar por...</option>
      <option value="nomefantasia">Nome Fantasia</option>
      <option value="cnpj">Cnpj</option>
      <option value="cidade">Cidade</option>
      <option value="estado">Estado</option>
    </select>
  </div>
  <div id="buscaDados"><input id="query" class="search" type="text" value="Digitar..." name="query" onfocus="this.value='';"/></div>
  <div id="buscaDados"><input id="queryImage" class="searchImg" type="image" src="/images/search_icon.png"/></div>
<% end %>

<br/><br/>
<br/>
<% if @entidades.nil? or @entidades.empty? %>
  <p class="busca">
    Nenhum registro foi encontrado
  </p>
<% else %>
  <table width="778px" cellpadding="0" cellspacing="0" border="0" class="bordasimples">
    <tr>
      <th>Nome</th>
      <th>Cnpj</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th><img src="/images/file_document.png" alt=""/></th>
      <th><img src="/images/file_edit.png" alt=""/></th>
      <th><img src="/images/file_exclude.png" alt=""/></th>
    </tr>

    <% @entidades.each do |entidade| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= entidade.nomefantasia %></td>
        <td><%= entidade.cnpj %></td>
        <td><%= entidade.cidade %></td>
        <td><%= entidade.estado %></td>
        <td class="edicao"><%= link_to 'Mostrar', entidade %></td>
        <td class="edicao"><%= link_to 'Alterar', edit_entidade_path(entidade) %></td>
        <td class="edicao"><%= link_to 'Deletar', entidade, :confirm => 'Voce tem certeza?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <div align="right">
    <%= will_paginate @entidades %>
  </div>
<% end %>
<br />