<%= render :partial => 'generals/message' %>

<p>
  <b>Nome:</b>
  <%= @entidade.nomefantasia %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @entidade.cnpj %>
</p>

<p>
  <b>Cidade:</b>
  <%= @entidade.cidade %>
</p>

<p>
  <b>Causa:</b>
  <%= @entidade.causa.nome %>
</p>


<%= link_to 'Alterar', edit_entidade_path(@entidade) %> |
<%= link_to 'Voltar', entidades_path %>
