<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @entidade.nomefantasia %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @entidade.cnpj %>
</p>

<p>
  <b>Cidade:</b>
  <%= @entidade.cidade %>
</p>

<p>
  <b>Causa:</b>
  <%= @entidade.causa.nome %>
</p>


<%= link_to 'Editar', edit_entidade_path(@entidade) %> |
<%= link_to 'Voltar', entidades_path %>
