<%= render :partial => 'generals/message' %>

<p>
  <b>Nome:</b>
  <%= @entidade.nomefantasia %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @entidade.cnpj %>
</p>

<p>
  <b>Endereço:</b>
  <%= @entidade.endereco %>
</p>
<p>
  <b>Numero:</b>
  <%= @entidade.numero %>
</p>
<p>
  <b>Cidade:</b>
  <%= @entidade.cidade %>
</p>
<p>
  <b>Estado:</b>
  <%= @entidade.estado %>
</p>
<p>
  <b>CEP</b>
  <%= @entidade.cep %>
</p>

<p>
  <b>Causa:</b>
  <%= @entidade.causa.nome %>
</p>
<% unless @entidade.telefones[0].nil? %>
  <p>
    <b>Telefone:</b>
    <%= @entidade.telefones[0].ddd %>
    <%= @entidade.telefones[0].numero %>
    <%= @entidade.telefones[0].tipo %>
    <br/>
  </p>
<% end  %>

<%= link_to 'Alterar', edit_entidade_path(@entidade) %> |
<%= link_to 'Voltar', entidades_path %>
