<div class="fields">
  <br/>
  <%= f.label :nome, "Nome Conta" %><br />
  <%= f.text_field :nome, :size=>70, :maxlenght=>70, :onkeypress=> 'return letrasNumeros(event)' %><br/>

  <%= f.label :numero, "Numero Conta" %><br />
  <%= f.text_field :numero %><br/>

  <%= f.label :operacao, "Operação" %><br />
  <%= f.text_field :operacao %><br/>

  <%= f.label :agencia, "Agencia" %><br />
  <%= f.text_field :agencia %><br/>

  <%= f.label :banco_id, "Banco" %><br />
  <%= f.collection_select(:banco_id, Banco.all, :id, :nome) %>

  <%= f.hidden_field :_destroy %>
  <%= remove_child_link "Deletar", f %>
</div>