<div class="fields">
  <table width="700px" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style=" padding-bottom: 10px; " colspan="3">Telefone:&nbsp;&nbsp;&nbsp;<%= f.select(:tipo, ([["Casa", "Casa"], ["Trabalho", "Trabalho"], ["Celular", "Celular"],
              ["Fax","fax"]]), :prompt => 'Selecione Tipo') %></td>
      <td><%= f.text_field :ddd, :style=>" width: 15px ", :class=>"ddd" %></td>
      <td><%= f.text_field :numero, :style=>" width: 151px ", :class=>"telefone" %></td>
      <td><%= f.hidden_field :_destroy %></td>
      <td><%= remove_child_link "Deletar", f %></td>
    </tr>
  </table>
</div>