<%= form_tag(emergencia_path, :method => "get") do %>
  <div id="buscaDados"><span>Listando Emergencias</span></div>
  <div id="buscaDados">
    <select name="filtro" id="filtro">
      <option value="" selected="selected">Buscar por...</option>
      <option value="nome">Nome</option>
      <option value="desc">Descrição</option>
    </select>
  </div>
  <div id="buscaDados"><input id="query" class="search" type="text" value="Digitar..." name="query" onfocus="this.value='';"/></div>
  <div id="buscaDados"><input id="queryImage" class="searchImg" type="image" src="/images/search_icon.png"/></div>
<% end %>

<br/><br/>
<br/>
<% if @emergencia.nil? or @emergencia.empty? %>
  <p class="buscaDados">
    Nenhum registro foi encontrado
  </p>
<% else %>
  <table width="778px" cellpadding="0" cellspacing="0" border="0" class="bordasimples">
    <tr>
      <th>Nome</th>
      <th>Desc</th>
      <th>Data</th>
      <th>Status</th>
      <th>Entidade</th>
      <th>Validação</th>
      <th><img src="/images/file_document.png" alt=""/></th>
      <th><img src="/images/file_edit.png" alt=""/></th>
      <th><img src="/images/file_exclude.png" alt=""/></th>
    </tr>

    <% @emergencia.each do |emergencium| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= emergencium.nome %></td>
        <td><%= emergencium.desc %></td>
        <td><%= emergencium.data %></td>
        <td><%= emergencium.status %></td>
        <td><%= emergencium.entidade.nomefantasia %></td>
        <td><%= emergencium.validacao==true ? 'Valida' : 'Invalida' %></td>
        <td class="edicao"><%= link_to 'Mostrar', emergencium %></td>
        <td class="edicao"><%= link_to 'Alterar', edit_emergencium_path(emergencium) %></td>
        <td class="edicao"><%= link_to 'Deletar', emergencium, :confirm => 'Voce tem certeza?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <div align="right">
    <%= will_paginate @emergencia %>
  </div>
<% end %>
<br />

<% if entidade? %>
  <%= link_to 'Cadastrar Emergencia', new_emergencium_path %>
<% end %>
