<%= render :partial => 'generals/message' %>

<p>
  <b>Titulo:</b>
  <%= @emergencium.titulo %>
</p>

<p>
  <b>Resumo:</b>
  <%= @emergencium.resumo %>
</p>

<p>
  <b>Emergencia:</b>
  <%= @emergencium.emergencia %>
</p>

<p>
  <b>Data:</b>
  <%= @emergencium.data %>
</p>

<p>
  <%= image_tag @emergencium.imagem.url(:thumb) %>
</p>

<%= link_to 'Alterar', edit_emergencium_path(@emergencium) %> |
<%= link_to 'Voltar', emergencia_path %>
