<div id="stylized" class="myform">
  <h2 class="postheader">Login</h2>
  <div class="postcontent">
    <%= form_for @user_session, :url => user_session_path, :html => {:class => "form login"} do |f| %>
      <%= render :partial => 'generals/model_errors', :locals => {:obj => @user_session}%>
      <p></p>
      <label>Email</label>
      <%= f.text_field :email, :html => {:class => "text_field"} %>

      <label>Senha</label>
      <%= f.password_field :password, :html => {:class => "text_field"} %>

      <br/>
      <button type="submit">
        <img src="images/key.png" alt="Acessar" /> Logar
      </button> ou

      <%= link_to(:controller => "users", :action => "new") do %>
        <strong><%= image_tag("tick.png") %> </strong><span>Cadastrar-se</span>
      <% end %>
      <div class="clear"></div>
    <% end %>
  </div>
</div>

<script type="text/javascript" >
  jQuery(document).ready(function(){
    jQuery(":input:not(:hidden):first").focus();
  });
</script>