<div class="MenuBar">
  <ul>
    <% if current_user %>
      <li><a href="/" class="<%= controller.controller_path == 'user_sessions' ? 'active' : '' %>"><span class="l"> </span><span class="r"> </span><span class="t">Home</span></a></li>
      <li><a href="<%= users_path %>" class="<%= controller.controller_path == 'users' ? 'active' : '' %>"><span class="l"> </span><span class="r"> </span><span class="t">Usuários</span></a></li>
      <% if administrador? %>
        <li><a href="<%= newsletters_path %>" class="<%= controller.controller_path == 'newsletters' ? 'active' : '' %>"><span class="l"> </span><span class="r"> </span><span class="t">Newsletters</span></a></li>
      <% end %>
      <% if empresa? or administrador? or entidade? %>
        <li><a href="<%= empresas_path %>" class="<%= controller.controller_path == 'empresas' ? 'active' : '' %>" ><span class="l"> </span><span class="r"> </span><span class="t">Empresas</span></a></li>
      <% end %>
      <% if voluntario? or administrador? or entidade? %>
        <li><a href="<%= voluntarios_path %>" class="<%= controller.controller_path == 'voluntarios' ? 'active' : '' %>" ><span class="l"> </span><span class="r"> </span><span class="t">Voluntarios</span></a></li>
      <% end %>
      <% if entidade? or administrador? %>
        <li><a href="<%= entidades_path %>" class="<%= controller.controller_path == 'entidades' ? 'active' : '' %>" ><span class="l"> </span><span class="r"> </span><span class="t">Entidades</span></a></li>
        <li><a href="<%= emergencia_path %>" class="<%= controller.controller_path == 'emergencia' ? 'active' : '' %>" ><span class="l"> </span><span class="r"> </span><span class="t">Emergencias</span></a></li>
        <li><a href="<%= noticia_path %>" class="<%= controller.controller_path == 'noticia' ? 'active' : '' %>" ><span class="l"> </span><span class="r"> </span><span class="t">Noticias</span></a></li>
      <% end %>
      <li><a href="<%= doacaos_path %>" class="<%= controller.controller_path == 'doacaos' ? 'active' : '' %>" ><span class="l"> </span><span class="r"> </span><span class="t">Doações</span></a></li>
      <% if administrador? %>
        <li><a href="/contatos"  class="<%= controller.controller_path == 'contatos' ? 'active' : '' %>">Contato</a></li>
      <% end %>
      <li><a href="/sobre" class="<%= controller.controller_path == 'sobre' ? 'active' : '' %>"><span class="l"> </span><span class="r"> </span><span class="t">Sobre</span></a></li>
    <% else %>
      <li><a href="/" class="<%= controller.controller_path == 'user_sessions' ? 'active' : '' %>"><span class="l"> </span><span class="r"> </span><span class="t">Home</span></a></li>
      <li><a href="/join" class="<%= controller.controller_path == 'users' ? 'active' : '' %>"><span class="l"> </span><span class="r"> </span><span class="t">Cadastre-se</span></a></li>
      <li><a href="/sobre" class="<%= controller.controller_path == 'sobre' ? 'active' : '' %>"><span class="l"> </span><span class="r"> </span><span class="t">Sobre</span></a></li>
    <% end %>
  </ul>
</div>